.cart {
    position: relative;
}

.titleCart {
    font-size: 4rem;
    margin: 30px 0px;
    text-align: center;
}

.textCartVacio {
    font-size: 3rem;
    font-weight: 200;
    margin: 30px 0px;
    text-align: center;
}

.divBotonLink {
    text-align: center;
    padding: 20px 0px;
}

.botonLink {
    text-align: center;
    background-color: transparent;
    border-color: #e5989b;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

.resumenCompra {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 75%;
}

.divTotal {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.titleTotal {
    font-size: 3rem;
    margin: 30px 0px;
    text-align: center;
}

.totalCart {
    font-size: 3rem;
    margin: 30px 0px;
    text-align: center;
}

.divBotonTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.botonVaciarCart {
    background-color: transparent;
    border-color: #e5989b;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
}

.botonVaciarCart:hover {
    background-color: #ffb4a2;
}

.formCart {
    width: 1000px;
    margin-top: 50px;
    padding-left: 20px;
}

.tituloForm {
    font-size: 2.5rem;
}

.divForm {
    padding: 15px 0px;
}

.formEmail {
    width: 500px;
    height: 40px;
    font-size: 1.5rem;
}

.inputCheck {
    width: 15px;
    height: 15px;
}

.labelCheck {
    font-size: 1.5rem;
}

.labelProv {
    font-size: 1.8rem;
    padding-right: 10px;
}

.selectProv {
    width: 200px;
    height: 40px;
    text-align: center;
}

.inputCodPostal {
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
}