@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;1,300;1,400&display=swap');

.imgPortada {
    display: block;
    position: relative;
    height: 500px;
    width: 1519px;
    opacity: 40%;
}