.formCart {
    width: 1000px;
    margin-top: 50px;
    padding-left: 20px;
}

.tituloForm {
    font-size: 2.5rem;
}

.divForm {
    padding: 15px 0px;
}

.formEmail {
    width: 500px;
    height: 40px;
    font-size: 1.5rem;
}

.inputCheck {
    width: 15px;
    height: 15px;
}

.labelCheck {
    font-size: 1.5rem;
}

.labelProv {
    font-size: 1.8rem;
    padding-right: 10px;
}

.selectProv {
    width: 200px;
    height: 40px;
    text-align: center;
}

.inputCodPostal {
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
}