.carrito {
    width: 300px;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
}

.carrito h2 {
    align-self: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
}

.bag {
    align-self: center;
    color: #fff;
}