
.header {
    background-color: #E5989B;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.brand {
    width: 300px;
    font-size: 3rem;
    color: #fff;
    font-weight: 200;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.contenedorMenu {
    display: flex;
    justify-content: center;
}
.menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
}

.menu :link {
    color: white;
}

.menu :visited {
    color: white;
}

.menuLista {
    list-style: none;
    text-decoration: none;
}

.carrito {
    width: 300px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}