.card {
    display: flex;
    width: 1000px;
    text-align: center;
    margin: 25px 10px;
}

.imgProd {
    border-radius: 10px;
    width: 130px;
}

.containerDescrip {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
}

.nombreProd {
    font-weight: 400;
    font-size: 2.5rem;
    width: 150px;
}

.precioProd {
    font-weight: 400;
    font-size: 2rem;
    width: 200px;
}

.descripProd {
    font-weight: 400;
    font-size: 1.8rem;
    width: 150px;
}

.buttonProd {
    background-color: transparent;
    border: none;
    margin: 10px;
}