.card {
    display: flex;
    width: 500px;
    height: auto;
    text-align: center;
    margin: 25px 30px;
}

.imgProd {
    border-radius: 10px;
    width: 100px;
}

.containerDescrip {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 25px;
}

.infoProd {
    font-weight: 400;
    font-size: 1.5rem;
    width: auto;
    text-align: left;
}

.buttonProd {
    background-color: transparent;
    border: none;
    margin: 10px;
}